* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito;
}

body {
    min-height: 100vh;
}

.logo {
    width: 150px;
    display: block;
    margin-right: auto;
}

.menu {
    display: block;
    margin-left: auto;
}

.header {
    background-color: red;
    width: 100%;
    padding: 20px 200px 20px 200px;
}