* {
    margin: 0;
    padding: 0;
    font-family: nunito;
}


body {
    min-height: 100vh;
}


.navbar {
    background-color: #db4439;
    font-size: 17px;
}


.navbar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.navbar li {
    height: 50px;
}


.navbar a, .sidenav a {
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    fill: white;
}


.navbar a:hover {
    color: black;
    fill: black;
}
.hover-a:hover {
    background-color: white;
    color: black;
}


.navbar li:first-child {
    margin-right: auto;
}


.logo {
    width: 150px;
}